@use "../../core" as *;

.p-drawer-menu-non-member {
  $this: &;
  &__block {
    border-bottom: 8px solid $color_gray_5;
    padding: 0 16px;
  }
  &__item {
    padding: 15px 0;
    &:not(:first-child) {
      border-top: 1px solid $color_gray_10;
    }
    &-heading {
      float: left;
      @include font-line(14,19.6)
    }
    &-body {
      float: right;
      @include font-line(16,20.8);
      font-weight: bold;
      padding-left: 16px;
    }
  }
  &__name {
    @include font-line(16,22.4);
    font-weight: bold;
  }
  &__status {
    @include font-line(14,19.6);
  }
  &__unit {
    margin-left: 0.2em;
  }
  &__def {
    #{$this}__item {
      &:first-child {
        border-top: 1px solid $color_gray_10;
      }
      &::after {
        @include clearfix;
      }
    }
  }
  &__list {
    #{$this}__item {
      padding: 0;
    }
  }
  &__link {
    display: block;
    padding: 16px 0;
    @include font-line(16,22.4);
    font-weight: bold;
  }
  &__btn {
    &-area {
      padding: 15px;
    }
  }
}
