@use "../../core" as *;

.p-error-block {
  margin: 20px 0 72px;
  &__inner {
    border: 1px solid $color_gray_20;
    border-radius: 15px;
    padding: 16px 15px;
  }
  &__message {
    @include font-line(16,22.4);
  }
  &__btn {
    margin-top: 16px;
    text-align: center;
  }
}
@include is-tb {
  .p-error-block {
    margin: 24px 0 72px;
    &__inner {
      padding: 24px;
    }
    &__btn {
      text-align: right;
    }
  }
}
@include is-pc {
  .p-error-block {
    margin: 40px 0 96px;
  }
}
